@use "../../foundation/variables" as *;
@use "../../foundation/mixin" as *;

.p-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: $color-bg-white;

  &__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;

    & img {
      width: 120px;
      height: 40px;
    }
  }

  &__nav-list {
    display: flex;
    gap: 30px;
    color: $color-nav-black;
    font-size: 14px;
  }
}