body {
  font-family: "Noto Sans JP", sans-serif;
}

/*! destyle.css v3.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

body {
  margin: 0;
}

main {
  display: block;
}

p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none; /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit; /* 2 */
}

[type=checkbox] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

[type=radio] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}

button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

option {
  padding: 0;
}

fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  outline-offset: -2px; /* 1 */
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

label[for] {
  cursor: pointer;
}

details {
  display: block;
}

summary {
  display: list-item;
}

[contenteditable]:focus {
  outline: auto;
}

table {
  border-color: inherit; /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

img {
  max-width: 100%;
}

.l-main {
  margin-top: 60px;
}

.l-container {
  max-width: 960px;
  padding: 0 4%;
  margin: 0 auto;
}

.p-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: #ffffff;
}
.p-header__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}
.p-header__container img {
  width: 120px;
  height: 40px;
}
.p-header__nav-list {
  display: flex;
  gap: 30px;
  color: #24292E;
  font-size: 14px;
}

.p-hero {
  width: 100%;
  height: 600px;
  background-image: url(../img/mainvisual.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.p-about {
  margin-top: 80px;
}
.p-about__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 70px;
}
.p-about__container h2 {
  border-bottom: 1px solid #383E45;
  font-size: 32px;
  font-weight: bold;
}
.p-about__content {
  display: flex;
  gap: 30px;
}
@media (max-width: 600px) {
  .p-about__content {
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }
}
.p-about__content img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.p-about__content__detail {
  color: #383E45;
}
.p-about__content__detail span {
  font-size: 16px;
  font-weight: bold;
}
.p-about__content__detail p {
  font-size: 14px;
  margin-top: 10px;
}

.p-bicycle {
  margin-top: 97px;
  margin-bottom: 100px;
}
.p-bicycle__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}
.p-bicycle__container h2 {
  border-bottom: 1px solid #383E45;
  font-size: 32px;
  font-weight: bold;
}
.p-bicycle__content {
  display: flex;
  gap: 16px;
}
@media (max-width: 600px) {
  .p-bicycle__content {
    display: block;
  }
}
.p-bicycle__content__item {
  color: #383E45;
  text-align: center;
}
@media (max-width: 600px) {
  .p-bicycle__content__item {
    margin-top: 30px;
  }
}
.p-bicycle__content__item img {
  width: 262px;
  height: 174px;
}
@media (max-width: 600px) {
  .p-bicycle__content__item img {
    width: 345px;
    height: 228px;
  }
}
.p-bicycle__content__item h3 {
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
}
.p-bicycle__content__item p {
  margin-top: 10px;
  font-size: 14px;
}

.p-footer {
  height: 60px;
  color: #383E45;
  font-size: 10px;
  text-align: center;
  line-height: 60px;
}

.p-bicycle-detail__container {
  padding: 0 40px;
}
.p-bicycle-detail__container img {
  display: block;
  width: 100%;
  height: 480px;
}
.p-bicycle-detail__text {
  padding: 30px;
}
.p-bicycle-detail__text h2 {
  font-size: 21px;
  font-weight: bold;
}
.p-bicycle-detail__text p {
  margin-top: 30px;
  font-size: 14px;
}
.p-bicycle-detail__text p + p {
  margin-top: 20px;
}
.p-bicycle-detail__link {
  margin-top: 20px;
  margin-bottom: 60px;
  text-align: center;
  font-size: 14px;
}/*# sourceMappingURL=common.css.map */